*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333333;
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 75px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
}


aside, .rechts {
    float: left;
    margin-left: 5px;
    margin-top: 90px;
    margin-right: 5px;
    margin-bottom: 70px;
    max-width: 49%;
    max-height: 520px;
    min-height: 49%;
    border-bottom: 1px solid #e0e0e0;
    border: 2px solid black;
    border-radius: 10px;
}

aside p, aside h2 {
    margin-left: 5px;
}

aside img {
    margin-top: -1.3rem;
    margin-bottom: 0;
}

section:last-of-type {
    border-bottom: none;
}

.gif{
  
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 60%;
    flex-grow: 1;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 10px;
    color: #000000;
}

h3, h4 {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #000000;
}

ul {
    list-style-type: disc;
    margin: 10px 0 20px 20px;
}

li {
    margin-bottom: 10px;
}

table {
    flex-grow: 1;
    display: flex;
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: white;
    color: black;
}


.Overzicht th, .Overzicht td {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.Overzicht h2 {
    color: black;
    background-color: white;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.Overzicht h3 {
    color: black;
    background-color: white;
}

.TabelSection th, .TabelSection td,  .TabelSection tr , .TabelSection h2{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.TabelSection h2 {
    color: white;
    background-color: black;
    justify-content: center;
    text-align: center;
}

img {
    float: right;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 10px;
    background: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}
.rechts {
    float: right;
    max-height: 450px;
}






.onder{
    padding-top: 550px;
}


  
nav{
    display: flex;
    justify-content: end;
    align-items: center;
}
  
  
  
  div img{
    margin-right: 80px;
  }
  
  .menu {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    background-color: transparent;
    transition: background-color 0.5s ease-in;
    text-align: right;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 1;
  }
  .OffScreenMenu{
  background-color: #333;
  height: 100vh;
  width: 100%;
  max-width: 165px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: right 0.3s ease;
  z-index:1;
}

.OffScreenMenu.active{
  right: 0;
}

.HambMenu{
  padding: 1rem;
  display: flex;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index:2;
}
.HambMenu span{
  height: 5px;
  width: 100%;
  background-color:white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.HambMenu span:nth-child(1){
  top: 25%;
}
.HambMenu span:nth-child(3){
  top: 75%;
}
.HambMenu.active span:nth-child(1){
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.HambMenu.active span:nth-child(2){
  opacity: 0;
}
.HambMenu.active span:nth-child(3){
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}

.Hamburger{
  height: 50px;
  width: 50px;
  margin-left:auto;
  position: relative;
}
  
  .menu.scrolled{
    background-color: white;
    color: black;
  }
  
  .menu:hover {
    background-color: white; 
    color: white;
  }
  
  .menu:hover a {
    color: black;
    transition: color 0.35s ease-in;
  
  }
  
  .menu a {
    color: white;
  }
  
  a:hover {
    color: orangered !important;
  }

  .WatIsADB{
    height: 50vh;
    width: 100%;
    padding-bottom: 30px;
    margin: none;
    justify-content: center;
    background: linear-gradient(black 50%, white);
    color: white;
    display: inline-flex;
  }

  .WatIsADB p {
    display: block;
    max-width: 700px;
    max-height: 25%;
    align-items: center;
    padding: 0.3rem;
  }

  .LeerlingenProfiel{
    height: 85vh;
    width: 100%;
    padding-bottom: 30px;
    margin: none;
    background: linear-gradient(white 80%, black);
    color: black;
    display: inline-flex;
  }

  .LeerlingenProfielTekst {
    height: 80%;
    width: 49%;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 15px;
  }

  .LeerlingenProfielFoto {
    height: 80%;
    width: 49%;
    margin: 1rem;
    padding: 0;
    border: 2px solid black;
    border-radius: 15px;
  }

  .LeerlingenProfielFoto img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border-radius: 13px;
  }

  .AanbiedingRichting{
    height: 100vh;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(black 80%, white);
    color: white;
    display: inline-flex;
  }

  .AanbiedingRichting h2 {
    background-color: black;
    color: white;
    margin-top: 0px;
  }

  .AanbiedingRichtingTekst {
    border: 2px solid white;
    border-radius: 15px;
    max-width: 49%;
    height: 80%;
    font-size: 0.9rem;
    margin-left: 1.2rem;
    padding: 1rem;
  }

  .AanbiedingRichtingFotos {
    padding: 0;
    margin: 1rem;
    width: 49%;
    height: 80%;
    box-sizing: 0;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }



  .AanbiedingRichtingFoto1, .AanbiedingRichtingFoto2, .AanbiedingRichtingFoto3, .AanbiedingRichtingFoto4 {
    height: 50%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AanbiedingRichtingFoto1 img, .AanbiedingRichtingFoto2 img, .AanbiedingRichtingFoto3 img, .AanbiedingRichtingFoto4 img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }

  .AanbiedingRichtingFoto1 img{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 10px 0px 0px 0px;
  }

  .AanbiedingRichtingFoto2 img{
   border-radius: 0px 10px 0px 0px;
  }

  .AanbiedingRichtingFoto3 img{
    border-radius: 0px 0px 0px 10px;
  }
 
  .AanbiedingRichtingFoto4 img{
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0px 0px 10px 0px;
  }
  

.TableSection {
    background-color: black;
    max-width: 80%;
    height: 80vh;
}
.TabelSection h2{
  width: 67.5%;
}

.TabelSectionInhoud{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.TableSection table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: black;
    display: flex;
}
.Overzicht table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
    display: flex;
}
.wit{
    display: flex;
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.zwart {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}




.white-to-black-fade {
    background: linear-gradient(to bottom, white 40px, black);
    height: 25vh;    
    width: 100%;
    z-index: 1;
}



.LeesMeer{
  display: inline-flex;
  align-items: center;
  color: #fcfcfc;
  border: 1px solid #fcfcfc;
  padding: 8px 12px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  transition: transform 1s;
  width: 146px;
  height: 45.5px;
}
.LeesMeer:hover {
  background: white;
  color: black !important;
  transform: scale(110%);
}
.LeesMeer .btn-text {
  margin-right: 8px;
}

.LeesMeer .btn-arrow {
  padding-left: 8px;
}

@media screen and (min-width: 767px) {
  .AanbiedingRichtingFotos img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    align-items: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

  @media screen and (min-width: 767px) {
  .AanbiedingRichtingFotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0; 
    padding: 0; 
    margin: 0;
  }

  .AanbiedingRichtingFotos div {
    height: 100%;
    width: 100%;
  }

  .AanbiedingRichtingFotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .AanbiedingRichtingFoto1 img {
    border-radius: 10px 0 0 0;
  }

  .AanbiedingRichtingFoto2 img {
    border-radius: 0 10px 0 0;
  }

  .AanbiedingRichtingFoto3 img {
    border-radius: 0 0 0 10px;
  }

  .AanbiedingRichtingFoto4 img {
    border-radius: 0 0 10px 0;
  }

  .AanbiedingRichtingFotos,
  .AanbiedingRichtingFotos div,
  .AanbiedingRichtingFotos img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

}

@media (min-width: 992px) {
  .menu{
    display: grid;
  }

  .HambMenu{
    display: none;
  }
}

@media (min-width: 768px){
  .menu{
    display: grid;
  }

  .HambMenu{
    display: none;
  }
}

@media (max-width: 768px){
  .menu{
    display: none;
  }

  .HambMenu{
    display: flex;
  }
}
